".vs/"
"*.suo"
"The Dungeon/obj/"
"*.ave"
"gho.sts"
"The Dungeon/bin/Debug/Dungeon_Depths.application"
"The Dungeon/bin/Debug/Dungeon_Depths.exe"
"The Dungeon/bin/Debug/Dungeon_Depths.exe.manifest"
"The Dungeon/bin/Debug/Dungeon_Depths.pdb"
"The Dungeon/bin/Debug/app.publish/Dungeon_Depths.exe"
